<h1>Welcome {{ colleague.name }}!</h1>

<p>
    Here is your detail: 
</p>

<p>
	Name : {{ colleague.name }}
</p>

<p>
	Email : {{ colleague.email }}
</p>

<p>
Thanks & Regards,
<br>
Your Colleague
</p>
